body {
    width: 100%;
    height: 100%;
    background: #11e8bb !important;
    background: -moz-linear-gradient(top, #11e8bb 0%, #1e72a3 100%) !important;
    background: -webkit-linear-gradient(top, #11e8bb 0%, #1e72a3 100%) !important;
    background: linear-gradient(to bottom, #11e8bb 0%, #1e72a3 100%) !important;
}

.info {
    position: absolute;
    top: 10px;
    left: 1px;
    width: 100%;
    z-index: 100;
    display: block;
    color: white;
    font: Sans-serif;
}

.img-zoom {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.img-zoom:hover {
    color: #e5e5e5;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h3 {
    color: white;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /*width: 100%;*/
    /*height: 100%;*/
}

.flex-item {
    width: 14vw;
}

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}